.navbar-brand {
  color: "#6b3636";
  font-weight: 600;
  font-size: "33px";
  margin-left: "10px";
}

.navbar {
  min-height: 40px;
}
.logoImg {
  height: 70px;
  width: 70px;
  margin-right: 10px;
  background-color: "red";
  border-radius: "55%";
}
@media (max-width: 992px) {
  .nc {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  .icn {
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 24px;
    /* background-color: red; */
    margin-left: 0px;
  }
  .logoImg {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background-color: "red";
    border-radius: "55%";
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 18px;
  }
  .logoImg {
    height: 20%;
    /* width: 40px; */
    margin-right: 10px;
    background-color: "red";
    border-radius: "55%";
  }
}
@media (max-width: 500px) {
  .navbar-brand {
    /* font-size: 80%; */
  }
  .logoImg {
    height: 7%;
    margin-right: 0px;
    padding: 0px;
    /* width: 40px; */
    margin-right: 10px;
    background-color: "red";
    border-radius: "55%";
  }
  .navbar {
    width: 100%;
    display: block;
  }
  .navbar-toggler {
  }
  .container-fluid {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* position: fixed; */
  }
  .navBar-div {
    background-color: red;
  }
}
@media (max-width: 380px) {
  .navbar-brand {
    font-size: 75%;
  }
  .logoImg {
    margin-right: 0px;
  }
  .container-fluid {
    display: block;
  }
}
